@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-bg: #e0e1e473;
  --color-card: #ffffff;
  --color-footer: #565f65;
  --color-pink: #dc3173;
  --color-blue: #1fabd9;
  --color-text-black: #282b2e;
  --color-text-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: 'Josefin Sans', cursive;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
   
  
}
